.home-container {
  text-align: center;
  color: white;
  min-height: 100vh;
}

.hostel-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hostel-logo img {
  width: 100%;
  height: auto;
  opacity: 80%;
}

.welcome-heading {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-75%, -30%);
  z-index: 2;
  font-size: 4rem;
  padding: 10px 20px;
  border-radius: 10px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
  padding: 0 10%;
  flex-wrap: wrap; /* makes it responsive on smaller screens */
}


.notice-board {
  height: 200px;
  overflow: hidden;
  border: 2px solid #444;
  background-color: #f9f9f9;
  padding: 10px;
  position: relative;
}

.scrolling-content {
  display: inline-block;
  animation: scroll-up 15s linear infinite;
}

.notification-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
}

@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}


.about-us, .notifications {
  margin-top: 40px;
  color: #2c3e50;
  font-size: 1.5rem;
}

.about-us p {
 font-size: 1rem;
}


.facilities {
  margin-top: 5%;
  display: flex;
  background-color: #2c3e50;
  height: 15vh;
  justify-content: center;
}